.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    &__descripthon {
      color: aliceblue;
    }
  }
  &__descripthon {
    font-family: "Corvet";
    font-size: 30px;
    color: rgb(135, 131, 131);
    margin-bottom: 10px;
    max-width: 700px;
  }
  img {
    max-width: 120%;
    margin-right: -20px;
    border-radius: 20px;
    border: 10px solid rgb(11, 11, 11);
  }
  .second-about-img {
    max-width: 400px;
    margin-left: 20px;
  }
}

.main-contant:hover {
  .about__descripthon {
    color: aliceblue;
    transition: 0.5s;
  }
}
